@charset "utf-8";
/* CSS Document */


#container-main{
    margin:30px auto;
    width:80%;
    min-width:320px;
	max-width:1100px;
}

.accordion-container {
    width: 100%;
    margin: 0 0 10px;
    clear:both;
}

.accordion-titulo {
    position: relative;
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #ef5438;
    color: #fff;
    text-decoration: none;
}
.accordion-titulo.open {
    background: #ef5438;
    color: #fff;
}
.accordion-titulo:hover {
    background: #ab8c6a;
	color: #fff;
}

.accordion-titulo span.toggle-icon:before {
    content:"+";
}

.accordion-titulo.open span.toggle-icon:before {
    content:"-";
}

.accordion-titulo span.toggle-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight:bold;
}

.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}

.accordion-content p{
    margin:0;
}

.accordion-content img {
    display: block;
    float: left;
    margin: 0 50px 10px 0;
    width: 30%;
    height: auto;
}


@media (max-width: 767px) {
    .accordion-content {
        padding: 10px 0;
    }
}