<template>

    <div class="social">
        <a class="shopcart-icon">
            <i class="icon-cart"></i>
            <span class="count" :class="count!=0 ? 'btn-red' : 'btn-green'">
                <p style="margin-top: -2px;"> {{count}} </p>
            </span>
        </a>
    </div>

</template>

<script>
    export default {
        props:['count'],
    }
</script>

<style>

    .btn-red{
        background: #2b9a1b;
    }

    .btn-green{
        background: #464a46;
    }

    .social{
        color: #f3ecec;
        display: block;
        width: 60px;
        height: 60px;
        position: fixed;
        right: 14px;
        background: #f30a0a;
        border-radius: 50%;
        line-height: 67px;
        bottom: 8px;
        z-index: 1000;
    }
    .social .shopcart-icon {
        font-size: 28px;
        position: relative;
        text-transform: uppercase;
        line-height: 19px;
        color: #ffffff;
        padding-top: 12px;
        margin: 15px;
    }

    .social .count {
        position: absolute;
        display: inline-block;
        text-align: center;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        top: -3px;
        right: -11px;
        color: #ffffff;
        font-size: 14px;
        line-height: 22px;
    }
    
</style>