<template>

	<main id="tg-main" class="tg-main tg-haslayout">
		<section class="tg-dbsectionspace tg-haslayout">
	      <div class="row">
            <!--Inicio del modal agregar/actualizar-->
            <div  class="permiso" :class="{'mostrar' : permiso}" style="overflow-y: auto;padding-top: 50px;">
                <div class="permiso-content" style="width: 552px !important;">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Nombre del Cliente</label>
                                    <input type="text" class="form-control" v-model="no_cliente"/>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"class="btn btn-default" @click="Cerrar()">
                            Cerrar
                        </button>
                    </div>
                </div>            
            </div>
            <!--Fin del modal-->
	          <div class="tg-formtheme tg-formdashboard">
	            <fieldset>
	              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                <div class="tg-dashboardbox">
	                  <div class="tg-dashboardboxtitle">
	                    <h2>Lista de Pedidos</h2>
	                  </div>
	                  <div class="tg-dashboardholder">
	                    <div class="tg-otherfilters">
	                      <div class="row">
	                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 pull-right">
	                          <div class="form-group tg-inputwithicon">
	                            <i class="icon-magnifier"></i>
	                            <input type="search" class="form-control" placeholder="Nombre del Cliente" v-model="search_no_producto" v-on:keyup="searchProducto">
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                    <table id="tg-adstype" class="table tg-dashboardtable tg-payments">
	                      <thead>
	                        <tr>
	                          <th>Cliente</th>
	                          <th>Fecha</th>
	                          <th>Direccion</th>
                            <th>Telefono</th>
	                          <th>Action</th>
	                        </tr>
	                      </thead>
	                      <tbody>
	                        <tr data-category="packageone" v-for="(data, index) in searchInUsers">
	                          <td data-title="Cliente">
	                            <h3>{{data.no_cliente}}</h3>
	                          </td>
	                          <td data-title="Fecha Compra">
	                            <h3>{{data.fe_compra}}</h3>
	                          </td>
	                          <td data-title="Direccion">{{data.tx_direccion}}</td>
	                          <td data-title="Telefono"><h3>{{data.tl_cliente}}</h3></td>
	                          <td data-title="Action">
	                            <div class="tg-btnsactions">
	                              <a class="tg-btnaction tg-btnactionview" @click="Detalles(data.token_session)"><i class="fa fa-eye"></i></a>
	                            </div>
	                          </td>
	                        </tr>
	                      </tbody>
	                    </table>
                      <div class="card-footer" style="background-color: rgb(0 0 0 / 0%) !important;border-top: 1px solid rgb(255 255 255 / 13%) !important;">
                          <nav aria-label="Page navigation" class="float-left">
                              <ul class="pagination">
                              <!--Botones anteriores-->
                                  <li v-if="pagination.currentPage == 1" class="page-item disabled">
                                      <a class="page-link" href="#" aria-label="Previous">
                                          <span aria-hidden="true"><i class="fa fa-fast-backward"></i></span>
                                          <span class="sr-only">Previous</span>
                                      </a>
                                  </li>
                                  <li v-else class="page-item">
                                      <a class="page-link" href="#" aria-label="Previous" @click.prevent="changePage(1)">
                                          <span aria-hidden="true"><i class="fa fa-fast-backward"></i></span>
                                          <span class="sr-only">Previous</span>
                                      </a>
                                  </li>


                                  <li v-if="pagination.currentPage == 1" class="page-item disabled">
                                      <a class="page-link" href="#" aria-label="Previous">
                                          <span aria-hidden="true"><i class="fa fa-step-backward"></i></span>
                                          <span class="sr-only">Previous</span>
                                      </a>
                                  </li>
                                  <li v-else class="page-item">
                                      <a class="page-link" href="#" aria-label="Previous" @click.prevent="changePage(pagination.currentPage - 1)">
                                          <span aria-hidden="true"><i class="fa fa-step-backward"></i></span>
                                          <span class="sr-only">Previous</span>
                                      </a>
                                  </li>
                              <!--Botones anteriores-->

                                  <li v-for="(page,index) in getLinksPages" class="page-item" :class="[page === isCurrentPage ? 'active':'' ]">
                                      <span v-if="page === isCurrentPage" class="page-link">{{ page }}</span>
                                      <a v-else class="page-link" href="#" @click.prevent="changePage(page)" >{{page}}</a>
                                  </li>

                              <!--Botones posteriores-->
                                  <li v-if="pagination.currentPage == pagination.lastPage" class="page-item disabled">
                                      <a class="page-link" href="#" aria-label="Previous">
                                          <span aria-hidden="true"><i class="fa fa-step-forward"></i></span>
                                          <span class="sr-only">Next</span>
                                      </a>
                                  </li>
                                  <li v-else class="page-item">
                                      <a class="page-link" href="#" aria-label="Next" @click.prevent="changePage(pagination.currentPage + 1)">
                                          <span aria-hidden="true"><i class="fa fa-step-forward"></i></span>
                                          <span class="sr-only">Next</span>
                                      </a>
                                  </li>

                                  <li v-if="pagination.currentPage == pagination.lastPage" class="page-item disabled">
                                      <a class="page-link" href="#" aria-label="Previous">
                                          <span aria-hidden="true"><i class="fa fa-fast-forward"></i></i></span>
                                          <span class="sr-only">Next</span>
                                      </a>
                                  </li>
                                  <li v-else class="page-item">
                                      <a class="page-link" href="#" aria-label="Next" @click.prevent="changePage(pagination.lastPage)">
                                          <span aria-hidden="true"><i class="fa fa-fast-forward"></i></i></span>
                                          <span class="sr-only">Next</span>
                                      </a>
                                  </li>
                              <!--Botones posteriores-->  
                              </ul>
                          </nav>
                      </div>
	                  </div>
	                </div>
	              </div>
	            </fieldset>
	          </div>
	      </div>
		</section>
	</main>
	
</template>


<script>

export default {
  name: "App",


  data:function(){
      return {
        pedidos:[],
        categoriaproductos:[],
        edit_prod:[],
        detalles:[],
        pedidos_prod:[],
        register:1,
        update:0,
        no_cliente:'',
        tl_cliente:'',
        tx_direccion:'',
        fe_compra:'',
        no_producto:'',
        des_producto:'',
        pt_producto:'',
        qt_stock:'',  
        id_categoria:'',
        id_producto:'',
        search_no_producto:'',        
        permiso:0,
        no_categoria:'',

        selectPerPage:6,
        search:'',
        pagination:{
          perPage:10,
          total:0,
          currentPage:1,
          from:0,
          to:0,
          lastPage:0,
          currentUsers:[],
          links:[]
        },
      }
  },


  methods:{

        Cancelar(){
          let me = this;
          me.no_producto = '';
          me.pt_producto = '';
          me.qt_stock = '';
          me.register=1;
          me.update=0;
        },



        //Paginate Vue//
        GetPedidos(){
            let me=this;
            axios.get('get_pedidos').then(function(response){
                me.pedidos = response.data;
          	});
        },

        changePage(page){
            this.pagination.perPage=this.selectPerPage;
            this.pagination.currentPage = Number(page);
        },

        onKeySearch(){
            this.changePage(1);
        },
        //End Paginate//


        searchProducto(){
          let me=this;
          axios.get('/buscar/producto?buscarproducto='+ me.search_no_producto).then(function(response){
              me.items_prod=response.data;
          })
        },

        Cerrar(){
          let me = this;
          me.permiso=0;
        },


        Detalles(token_session){
          let me=this;

          axios.post('/pedidos_detalles',{
            'token_session':token_session
          }).then(function(response){
              me.detalles=response.data;
              me.no_cliente= me.detalles['no_cliente'];
              me.fe_compra= me.detalles['fe_compra'];
              me.tx_direccion= me.detalles['tx_direccion'];
              me.tl_cliente= me.detalles['tl_cliente'];
              me.permiso=1;
          })          
        }

  },


  computed:{
      getCurrentUsers(){
          this.pagination.from = (this.pagination.currentPage-1)*this.pagination.perPage;
          this.pagination.to = Number(this.pagination.from) + Number(this.pagination.perPage);
          return this.libros.slice(this.pagination.from,this.pagination.to);
      },
      getLinksPages(){
        let cant = this.pagination.total / Number(this.pagination.perPage);
        this.pagination.links=[];
        let cumstom_links=[];
        /*obtiene los numeros de todas las paginas*/
        for ( let i=0 ; i <  cant; i++) {
            this.pagination.links.push(i+1);
        }
        this.pagination.lastPage = this.pagination.links.length;
        let start = 0;
        let limit = 5;
        if (this.pagination.currentPage < 3) {
            start = 0;
            return this.pagination.links.slice(start,limit);
        }else if (this.pagination.currentPage >= 3 && this.pagination.currentPage-1+2 < this.pagination.lastPage){
            start=(this.pagination.currentPage-1)-2;
            limit = start+limit;
            return this.pagination.links.slice(start,limit);
        }else{
            if (this.pagination.links.length == 4) {
                start=0;
                limit = start+limit;
                return this.pagination.links.slice(start,limit);    
            }else{
                start=(this.pagination.lastPage-1)-4;
                limit = start+limit;
                return this.pagination.links.slice(start,limit);
            }
        }
                
      },
      isCurrentPage(){
          return this.pagination.currentPage;
      },
      searchInUsers(){
        let me =this;

        /*me.libros.filter(function(libro){ 
          console.log(libro.libro_nombre.toLowerCase());
        });*/
          if (this.search.length > 0){
              this.pagination.from = (this.pagination.currentPage-1)*this.pagination.perPage;
              this.pagination.to = Number(this.pagination.from) + Number(this.pagination.perPage);
              this.pagination.total = me.pedidos.filter((pedido) => pedido.token_session.toLowerCase().includes(this.search.toLowerCase())).length;
          }else{
              this.pagination.from = (this.pagination.currentPage-1)*this.pagination.perPage;
              this.pagination.to = Number(this.pagination.from) + Number(this.pagination.perPage);
              this.pagination.total = me.pedidos.length;
          }
          return me.pedidos.filter((pedido) => pedido.token_session.toLowerCase().includes(this.search.toLowerCase())).slice(this.pagination.from,this.pagination.to);
      }
  },



  mounted() {
            let self = this
            setTimeout(function(){
              self.GetPedidos();
            },2000);

  }

  
};
</script>


<style>

	  .permiso.mostrar {
      background-color: rgba(0,0,0,.5);
      opacity: 1;
      visibility: visible;
	  }
	  .permiso {
	      align-items: flex-start;
	      background-color: #fff;
	      display: flex !important;
	      height: 100vh;
	      justify-content: center;
	      left: 0;
	      opacity: 0;
	      position: fixed;
	      top: 0;
	      visibility: hidden;
	      width: 100%;
	      transition: all 0.40s cubic-bezier(0.39, 0.575, 0.565, 1);
	      z-index: 5000;
	  }

	  .permiso.mostrar .permiso-content {
        opacity: 1;
        transform: scale(1.1);
        visibility: visible;
    }
    .permiso .permiso-content {
        background-color: #fff !important;
        border-radius: 3px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        margin-top: 50px;
        opacity: 0;
        padding: 12px;
        transform: scale(1);
        transition: all .40s cubic-bezier(0.39, 0.575, 0.565, 1);
        visibility: hidden;
    }
</style>