<template>
	
	<div>

			<div class="container pm-containerPadding-top-90">

				<div class="row">

	                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                                <div class="tg-sectionhead">
	                                    <div class="tg-title" style="text-align: center !important;">
	                                        <h1 style="color: black;">Bienvenidos a La Oxapampina</h1>
	                                    </div>
	                                </div>
	                            </div>
	                            
	                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-12">

	                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-12"  align="center">
	                                        <p>Somos una carnicería nacional fina que ofrece productos nacionales de alta calidad.  Es así, que todos nuestros productos son el resultado de el mayor respeto y cuidado que se le tiene a los animales con los que trabajamos, esto nos permite decir que la carne que producimos y comercializamos, proviene de ganado alimentado con pastos naturales de las pasturas de Oxapampa, sin hormonas ni promotores del crecimiento, brindando a nuestros clientes una carne más tierna, sabrosa y saludable, pensando en su bienestar.</p>
	                                    </div>
	                            </div>

	            </div>

			</div>

			<div class="container pm-containerPadding-top-90">
	            <div class="row">

	            	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-sectionhead">
							<div class="tg-title" style="text-align: center !important;">
								<h2 style="color: black;">¿Qué quieres hoy?</h2>
							</div>
						</div>
					</div>
	            
	                <div class="col-lg-6 col-md-6 col-sm-12 pm-center pm-column-spacing">
	                    
	                    <div class="pm-image-container">
	                        <img :src="'/categorias/'+categoriaproductos[0].img_categoria"  alt="image1">
	                    </div>
	                    
	                    <h6>{{categoriaproductos[0].no_categoria}}</h6>	
	                    
	                    <a @click="Corte(categoriaproductos[0].id_categoria)" class="pm-rounded-btn animated pm-primary">Ver cortes<i class="fa fa-angle-right"></i></a>
	                    
	                </div>
	                
	                <div class="col-lg-6 col-md-6 col-sm-12 pm-center pm-column-spacing">
	                    
	                    <div class="pm-image-container">
	                        <img :src="'/categorias/'+categoriaproductos[1].img_categoria"   alt="image2">
	                    </div>
	                    
	                    <h6>{{categoriaproductos[1].no_categoria}}</h6>
	                    	                    
	                    <a @click="Corte(categoriaproductos[1].id_categoria)" class="pm-rounded-btn animated pm-primary">Ver cortes<i class="fa fa-angle-right"></i></a>
	                    
	                </div>
	            
	            </div>
	        </div>


		    <cart :count="count" :tokensession="token_session" @click.native="Shopping(token_session)"></cart>
	</div>

</template>

<script>


import Cart from "./Custom/Cart";

export default {
  name: "App",

  props:['count', 'token_session', 'transaccion'],

   components: {
    Cart
  },


  data:function(){
      return {
        items_prod:[],
        buscarcomercio:'',
        categoriaproductos:[],
        permiso:0,
        id_categoria:'',
        id_subcategoria:'',
        pedidos:[],
        no_cliente:'',
        tl_cliente:'',
        tx_direccion:'',
        email_cliente:'',
        terminosycondiciones:false,
        tipopago:'',
        accionpago:0,
        total:'',
        cant_producto:'1.5',
        nu_transaccion:this.transaccion,
      }
  },

  computed:{
    calcularTotal: function(){
    	let me=this;
        var resultado=0.0;
        

        for(var i=0;i<this.pedidos.length;i++){
		    var cantidad_total=me.pedidos[i].cant_producto.toString().split(".");
		    var kg = cantidad_total[0];
		    var gr = cantidad_total[1];
		    var precio_total;

        	if (gr==5) {
		      	var precio_gr=parseFloat(me.pedidos[i].pt_producto)/2;
		      	var precio_kg= parseFloat(me.pedidos[i].pt_producto)*kg;
		      	me.total = resultado+(parseFloat(precio_kg)+parseFloat(precio_gr));
		    } else if(gr==0) {
		      	 me.total = resultado+(parseFloat(me.pedidos[i].pt_producto*kg));
		    }

		    return me.total;
        }
        
    }

  },


  methods:{

  		GetProductos(){
            let me=this;
            axios.get('lista_productos').then(function(response){
                me.items_prod = response.data;
          	});
        },

        CategoriasProductos(){
              let me=this;
              axios.get('lista_categoria').then(function(response){
              	console.log(response.data)
                me.categoriaproductos = response.data;
          });
        },

        AgregarCarrito(id_producto){
        	let me=this;
        	var hoy = new Date();
        	var hora = hoy.getHours()+':'+hoy.getMinutes()+':'+hoy.getSeconds();
        	document.cookie = "hora="+hora;
            axios.post('/agregar/carrito', {
                'id_producto':id_producto,
                'hr_compra':hora,
                'cant_producto':me.cant_producto
            }).then(function(response){
                me.count = response.data['count'];
                Swal.fire({
                  title: 'Producto Agregado a su Carrito',
                  type: 'success',
                  confirmButtonText: 'OK'
                });
            })
        },

        Cerrar(){
          let me = this;
          me.permiso=0;
        },


        Shopping(){
          window.location.href = '/shopping/';          
        },

        Cantidad(e, id_pedidos){
	        let cant_producto = e.target.value;
	        axios.put('/put/cant_producto',{
	            'cant_producto':cant_producto,
	            'id_pedidos':id_pedidos
	        }).then(function(data){
	        })
	    },
    

	    EliminarPedido(id_pedidos){
	          let me=this;
	          axios.delete('/pedidos/eliminar/'+id_pedidos).then(function(response){
	                if (response.data.status==='success') {
	                    Swal.fire({
	                      title: response.data.message,
	                      text: 'Eliminacion Exitoso!',
	                      type: 'success',
	                      confirmButtonText: 'OK'
	                    });
	                    me.GetProductos()
	                }else{
	                    Swal.fire({
	                      title: response.data.message,
	                      text: 'Error al Eliminar Item',
	                      type: 'success',
	                      confirmButtonText: 'OK'
	                    })
	                };
	          })
	    },


	    Corte(id_categoria){
	    	
	    	window.location.href='detall_product/'+id_categoria;
	    	/*let me = this;
	    	axios.post('corte',{
	    		'id_categoria':id_categoria
	    	}).then(function(response){
	    		if (response.data != 0) {
	    			me.permiso=1;
	    			me.items_prod = response.data;   
	    		}else{
	    			Swal.fire({
						title: 'No hay productos',
						type: 'error',
						confirmButtonText: 'OK'
					})
	    		}
          		             
          	});*/
	    },

	    increment (pt_producto) {
	    	let me = this;
	      me.cant_producto=parseFloat(me.cant_producto+0.5);
	      var cantidad_total=me.cant_producto.toString().split(".");
	      var kg = cantidad_total[0];
	      var gr = cantidad_total[1];
	      var precio_total;

	      if (gr==5) {
	      	var precio_gr=parseFloat(pt_producto)/2;
	      	precio_total=parseFloat(pt_producto)+parseFloat(precio_gr);
	      	console.log(precio_total.toFixed(2));
	      } else {
	      	precio_total=parseFloat(pt_producto*kg);
	      	console.log(precio_total.toFixed(2));
	      }

	    },

	    decrement () {
	    	let e=this;
	      if(me.cant_producto === 1) {
	        console.log('Negative quantity not allowed')
	      } else {
	        me.cant_producto=parseFloat(me.cant_producto-0.5);
	        console.log(me.cant_producto);
	      }
	    }

  },


   mounted() {
            let self = this
            setTimeout(function(){
            		//self.GetProductos();
            		self.CategoriasProductos();
            },2000);
  }

  
};
</script>

<style>

	.marca-agua{
		position: absolute;
		z-index: 10000;
		left: -36px !important;
		width: 266% !important;
		padding: 78px !important;
		background: rgb(158 151 151 / 47%) !important;
		border-radius: 30px !important;
		margin-top: -154px;
		color: #fff;
	}
	
	.certlix{
		height: 100%;
	    float: left;
	    text-align: left;
	    margin: 0 0 30px;
	    border-bottom: 1px solid #dbdbdb;
	}

	.permiso.mostrar {
      background-color: rgba(0,0,0,.5);
      opacity: 1;
      visibility: visible;
  	}
  	.permiso {
      align-items: flex-start;
      background-color: #fff;
      display: flex !important;
      height: 100vh;
      justify-content: center;
      left: 0;
      opacity: 0;
      position: fixed;
      top: 0;
      visibility: hidden;
      width: 100%;
      transition: all 0.40s cubic-bezier(0.39, 0.575, 0.565, 1);
      z-index: 5000;
  	}

  	.permiso.mostrar .permiso-content {
        opacity: 1;
        transform: scale(1.1);
        visibility: visible;
        width: 78%;
    }
    .permiso .permiso-content {
        background-color: #fff !important;
        border-radius: 3px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        margin-top: 50px;
        opacity: 0;
        padding: 4px;
        transform: scale(1);
        transition: all .40s cubic-bezier(0.39, 0.575, 0.565, 1);
        visibility: hidden;
    }
	
	@media (max-width:900px){

		#category{
			margin-left: 4px !important;
		}

		#imgproducto{
			width: 100% !important;
		}
		
		.marca-agua{
			position: absolute;
		    z-index: 10000;
		    left: -36px !important;
		    width: 297% !important;
		    padding: 62px !important;
		    background: rgb(158 151 151 / 47%) !important;
		    border-radius: 21px !important;
		    margin-top: -127px;
		    color: #fff;
		}

		.quantity-toggle input {
		    border: 0;
		    border-top: 2px solid #ddd;
		    border-bottom: 2px solid #ddd;
		    width: 5.5rem !important;
		    text-align: center;
		    padding: 0 .5rem;
		}

		.permiso.mostrar .permiso-content {
	        opacity: 1;
	        transform: scale(1.1);
	        visibility: visible;
	        width: 100%;
	    }

		#img_prod{
			width: 111% !important;
		}

		#carnes{
			right: 78px !important;
		}

		#embutidos{
			right: -4px !important;
		}

		#lacteos{
			right: 75px !important;
		}

		.top{
			margin-top: -689% !important;
		}

		.top2{
			margin-top: -217% !important;
		}

	}

	@media (max-width:450px){

		#category{
			margin-left: 4px !important;
		}

		#imgproducto{
			width: 100% !important;
		}

		.marca-agua{
			position: absolute;
		    z-index: 10000;
		    left: -36px !important;
		    width: 297% !important;
		    padding: 62px !important;
		    background: rgb(158 151 151 / 47%) !important;
		    border-radius: 21px !important;
		    margin-top: -127px;
		    color: #fff;
		}

		.quantity-toggle input {
		    border: 0;
		    border-top: 2px solid #ddd;
		    border-bottom: 2px solid #ddd;
		    width: 5.5rem !important;
		    text-align: center;
		    padding: 0 .5rem;
		}

		#img_prod{
			width: 111%;
		}

		.permiso.mostrar .permiso-content {
	        opacity: 1;
	        transform: scale(1.1);
	        visibility: visible;
	        width: 100%;
	    }

	    .top{
			margin-top: -689% !important;
		}

		.top2{
			margin-top: -217% !important;
		}

	}


	.supported_card-block ul {
      padding: 0;
      margin-bottom: 13px;
      list-style: none;
  	}
  .supported_card-block ul li {
    display: inline-block;
    padding-left: 4px;
    margin-bottom: 4px;
  }
  .tg-dashboardbox{
    width: 100%;
    float: left;
    overflow: hidden;
    background: #fff;
    position: relative;
    border-radius: 5px;
  }
  .tg-dashboardbox:hover{
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.20);
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.20);
  }
  .tg-dashboardboxtitle{
    width: 100%;
    float: left;
    padding: 10px;
    border-bottom: 1px solid #eaedef;
  }
  .tg-dashboardboxtitle h2{
    margin: 0;
    float: left;
    color: #363b4d;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    padding: 8px 0 8px 10px;
  }
  .tg-dashboardboxtitle .tg-formthemesearch{
    width: 50%;
    float: right;
  }
  .tg-dashboardboxtitle .tg-formthemesearch .tg-select:after{line-height: 36px;}
  .tg-dashboardboxtitle .tg-formthemesearch .tg-select select{
    height: 36px;
    line-height: 20px;
    padding: 7px 20px;
  }
  .tg-dashboardholder{
    z-index: 2;
    width: 100%;
    float: left;
    padding: 30px;
    position: relative;
  }
  .tg-dashboardscrollbar{
    width: 100%;
    float: left;
    height: 330px;
    overflow: hidden;
  }
  .tg-dashboardscrollbar .mCSB_inside > .mCSB_container {margin-right: 15px;}
  .tg-dashboardscrollbar .mCSB_scrollTools .mCSB_draggerRail {background: #f7f7f7;}
  .tg-dotnotification{
    position: relative;
    padding-right: 26px !important;
  }

  .tg-dashboardtable{margin: 0;}
  .tg-dashboardtable thead tr th{
    color: #363b4d;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    padding: 15px 10px;
    background: #f7f7f7;
    vertical-align: middle;
  }
  .tg-dashboardtable tbody tr td{
    text-align: left;
    padding: 20px 10px;
  }
  .tg-dashboardtable thead tr th .tg-checkbox,
  .tg-dashboardtable tbody tr td .tg-checkbox{
    width: 20px;
    height: 20px;
  }
  .tg-dashboardtable tbody tr td,
  .tg-dashboardtable tbody tr td h3,
  .tg-dashboardtable tbody tr td time{
    color: #363b4d;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }
  .tg-dashboardtable tbody tr td time{
    display: block;
    min-width: 95px;
    padding: 0 0 10px;
  }
  .tg-dashboardtable tbody tr td h3 + span,
  .tg-dashboardtable tbody tr td time + span{
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
  .tg-dashboardtable tbody tr td address{
    margin: 0;
    color: #666;
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
  }

  @media (max-width:767px){
	  .form-group.tg-sortby{margin: 0 0 30px;}
	  .tg-dashboardtable.tg-tablemyads thead tr th:nth-child(4),
	  .tg-dashboardtable.tg-tablemyads thead tr th:nth-child(5),
	  .tg-dashboardtable.tg-tablemyads thead tr th:nth-child(7),
	  .tg-dashboardtable.tg-tablemyads thead tr th:nth-child(8),
	  .tg-dashboardtable.tg-tablemyads tbody tr td:nth-child(4),
	  .tg-dashboardtable.tg-tablemyads tbody tr td:nth-child(5),
	  .tg-dashboardtable.tg-tablemyads tbody tr td:nth-child(7),
	  .tg-dashboardtable.tg-tablemyads tbody tr td:nth-child(8),
	  .tg-dashboardtable.tg-myfavourites thead tr th:nth-child(4),
	  .tg-dashboardtable.tg-myfavourites tbody tr td:nth-child(4),
	  .tg-dashboardtable.tg-payments thead tr th:nth-child(3),
	  .tg-dashboardtable.tg-payments tbody tr td:nth-child(3){display: block;}
	  .tg-dashboardtable thead,
	  .tg-dashboardtable tbody tr th{display:none;}
	  .tg-dashboardtable tbody tr td{
	    width: 100% !important;
	    float: left;
	    z-index: 1;
	    display: block;
	    position: relative;
	    padding: 20px 10px 20px 150px;
	  }
	  .tg-dashboardtable tbody tr td + td + td{border-top: 0;}
	  .tg-dashboardtable tbody tr td:before{
	    top: 0;
	    left: 0;
	    width: 150px;
	    height: 100%;
	    z-index: 2px;
	    padding: 20px 10px;
	    position: absolute;
	    content: attr(data-title);
	  }
	  .tg-dashboardtable tbody tr td:last-child{border-bottom-color: #363b4d;}
	  .tg-dashboardtable tbody tr + tr td:nth-child(2){border-top-color: #363b4d;}
	  .tg-dashboardtable tbody tr:last-child td:last-child{border-bottom-color: #dbdbdb;}
	}



	.quantity-toggle {
	  display: flex;
	}

	.quantity-toggle input {
	    border: 0;
	    border-top: 2px solid #ddd;
	    border-bottom: 2px solid #ddd;
	    width: 7.5rem;
	    text-align: center;
	    padding: 0 .5rem;
	}
	  
	.quantity-toggle button {
	    border: 2px solid #ddd;
	    padding: .5rem;
	    background: #f5f5f5;
	    color: #888;
	    font-size: 1rem;
	    cursor: pointer;
	}

	

</style>